// Variables
// =========

$animated-filter-box-sizing:                  border-box !default;
$animated-filter-transition:                  400ms ease-out !default;

// List
$animated-filter-list-selector:               '[data-filter-list]' !default;
$animated-filter-list-list-style:             none !default;
$animated-filter-list-display:                flex !default;
$animated-filter-list-margin:                 0 !default;
$animated-filter-list-padding:                0 !default;
$animated-filter-list-box-sizing:             $animated-filter-box-sizing !default;

// List item
$animated-filter-list-item-selector:          '[data-filter]' !default;
$animated-filter-list-item-display:           block !default;

// Types
$animated-filter-types-selector:              '[data-filter-types]' !default;
$animated-filter-types-position:              relative !default;
$animated-filter-types-transition:            height $animated-filter-transition !default;
$animated-filter-types-display:               flex !default;
$animated-filter-types-flex-wrap:             wrap !default;
$animated-filter-types-box-sizing:            $animated-filter-box-sizing !default;

// Type
$animated-filter-type-selector:               '[data-filter-type]' !default;
$animated-filter-type-position:               relative !default;
$animated-filter-type-box-sizing:             $animated-filter-box-sizing !default;
$animated-filter-type-opacity:                1 !default;
$animated-filter-type-transform:              scale(1) !default;
$animated-filter-type-hiding-selector:        '.is-hiding' !default;
$animated-filter-type-hiding-opacity:         0 !default;
$animated-filter-type-hiding-transform:       scale(0) !default;
$animated-filter-type-hidden-selector:        '.is-hidden' !default;
$animated-filter-type-hidden-display:         none !default;
$animated-filter-type-transition-selector:    '.transition' !default;
$animated-filter-type-transition-transition:  opacity $animated-filter-transition, transform $animated-filter-transition !default;


// Selectors
// =========

// List
@if $animated-filter-list-selector {
  #{$animated-filter-list-selector} {
    @if $animated-filter-list-list-style != false { list-style: $animated-filter-list-list-style; }
    @if $animated-filter-list-display != false { display: $animated-filter-list-display; }
    @if $animated-filter-list-margin != false { margin: $animated-filter-list-margin; }
    @if $animated-filter-list-padding != false { padding: $animated-filter-list-padding; }
    @if $animated-filter-list-box-sizing != false { box-sizing: $animated-filter-list-box-sizing; }
  }
}

// List item
@if $animated-filter-list-item-selector {
  #{$animated-filter-list-item-selector} {
    @if $animated-filter-list-item-display != false { display: $animated-filter-list-item-display; }
  }
}

// Types
@if $animated-filter-types-selector {
  #{$animated-filter-types-selector} {
    @if $animated-filter-types-position != false { position: $animated-filter-types-position; }
    @if $animated-filter-types-transition != false { transition: $animated-filter-types-transition; }
    @if $animated-filter-types-display != false { display: $animated-filter-types-display; }
    @if $animated-filter-types-flex-wrap != false { flex-wrap: $animated-filter-types-flex-wrap; }
    @if $animated-filter-types-box-sizing != false { box-sizing: $animated-filter-types-box-sizing; }
  }
}

@if $animated-filter-type-selector {
  #{$animated-filter-type-selector} {
    @if $animated-filter-type-position != false { position: $animated-filter-type-position; }
    @if $animated-filter-type-box-sizing != false { box-sizing: $animated-filter-type-box-sizing; }
    @if $animated-filter-type-opacity != false { opacity: $animated-filter-type-opacity; }
    @if $animated-filter-type-transform != false { transform: $animated-filter-type-transform; }

    &#{$animated-filter-type-hiding-selector} {
      @if $animated-filter-type-hiding-opacity != false { opacity: $animated-filter-type-hiding-opacity; }
      @if $animated-filter-type-hiding-transform != false { transform: $animated-filter-type-hiding-transform; }
    }

    &#{$animated-filter-type-hidden-selector} {
      @if $animated-filter-type-hidden-display != false { display: $animated-filter-type-hidden-display; }
    }

    &#{$animated-filter-type-transition-selector} {
      @if $animated-filter-type-transition-transition != false { transition: $animated-filter-type-transition-transition; }
    }
  }
}
